NEXT_PUBLIC_API_URL=YOUR_NEXT_PUBLIC_API_URL

# Debugging purposes
IS_DEBUGGING="true" # Set to true to enable debugging

# AirTable
AIRTABLE_API_KEY=""
AIRTABLE_BASE_ID=""
AIRTABLE_POSTS_TABLE_NAME="Posts"
AIRTABLE_PROFILES_TABLE_NAME="Profiles"

# Cosmos DB
DB_ENDPOINT="https://example.documents.azure.com:443/"
DB_KEY="DB_KEY"
