stages:
  - build
  - deploy

variables:
  NODE_ENV: production

cache:
  paths:
    - node_modules/

before_script:
  - curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
  - apt-get install -y nodejs
  - npm install

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - .next/
      - package.json
      - node_modules/

deploy:
  stage: deploy
  script:
    - npm install -g @azure/static-web-apps-cli
    - swa deploy .next --api-token $AZURE_STATIC_WEB_APPS_API_TOKEN
  only:
    - dev
