version: '3.9'

services:
  postgres:
    image: postgres:17.4
    restart: unless-stopped
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    volumes:
      - postgres:/data/postgres
    ports:
      - 5433:5432
    extra_hosts:
      - 'host.docker.internal:host-gateway' # 172.17.0.1
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: abcd@1234
      POSTGRES_DB: localdb
      PGDATA: /data/postgres

  pgadmin:
    image: dpage/pgadmin4:8.5
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: abcd@1234
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 8080:80
    extra_hosts:
      - 'host.docker.internal:host-gateway' # 172.17.0.1
    volumes:
      - pgadmin:/var/lib/pgadmin

volumes:
  postgres:
  pgadmin:
# pgAdmin accessing host: postgres, port 5432
# Ouside docker accessing host: localhost, port 5433
