@import 'tailwindcss/preflight';
@import '@radix-ui/themes/styles.css';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

.radix-themes {
  --default-font-family: var(--font-geist-sans);
}

.rt-TextFieldRoot {
  height: inherit;
  padding: 10px 5px;
}
