name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - dev
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: 'upload'
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: '/' # App source code path
          api_location: '' # Api source code path - optional
          output_location: '' # Built app content directory - optional
          # production_branch: 'dev'
          # deployment_environment: "production"
          ###### End of Repository/Build Configurations ######
          env:
          IS_DEBUGGING: ${{ vars.IS_DEBUGGING }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
          AIRTABLE_BASE_ID: ${{ vars.AIRTABLE_BASE_ID }}
          AIRTABLE_POSTS_TABLE_NAME: ${{ vars.AIRTABLE_POSTS_TABLE_NAME }}
          AIRTABLE_PROFILES_TABLE_NAME: ${{ vars.AIRTABLE_PROFILES_TABLE_NAME }}
          AIRTABLE_WEBHOOK_URL: ${{ vars.AIRTABLE_WEBHOOK_URL }}
          AIRTABLE_NOTIFICATION_URL: ${{ vars.AIRTABLE_NOTIFICATION_URL }}
          AIRTABLE_WEBHOOK_MAC_SECRET: ${{ vars.AIRTABLE_WEBHOOK_MAC_SECRET }}
          DB_ENDPOINT: ${{ vars.DB_ENDPOINT }}
          DB_KEY: ${{ secrets.DB_KEY }}
          AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
          GOOGLE_CLIENT_ID: ${{ vars.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: 'close'
